canvas {
	display: block;
	margin-top: 10%;
	margin-left: 35%;
}

body {
	background-color: #78ac3c;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 275;
}

.food {
	font-size: medium;
	color: white;
	margin-top: -30%;
}

.food:hover {
	font-size: larger;
	color: wheat;
	transition: 75ms;
}

.foodText {
	color: white;
	margin-top: -30%;
	margin-left: 2%;
}

.color {
	font-size:medium;
	color:white;
	margin-top: 4%;
}

.color:hover {
	font-size: larger;
	color: wheat;
	transition: 75ms;
}

.speed {
	font-size:medium;
	color:white;
	margin-top: 4%;
}

.speed:hover {
	font-size: larger;
	color: wheat;
	transition: 75ms;
}

.controls {
	font-size:medium;
	color:white;
	margin-top: 4%;
}

.controls:hover {
	font-size: larger;
	color: wheat;
	transition: 75ms;
}

#credits {
	font-weight: 300;
	color: whitesmoke;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	text-align: middle;
}
